%div.col-xs-12.post-index-head
  = link_to "Index page", blogs_path, class: "btn btn-warning"


%div.col-xs-12
  %h3 Users
  - @users.each do |u|
    %div.each-post
      %div.each-title
        %img{src: "http://api.tumblr.com/v2/blog/#{u["user"]["blogs"].first["name"]}.tumblr.com/avatar/128", class: "avatar-style" }
        Name:
        %strong= u["user"]["name"].to_s.html_safe
      %div.each-body
        Number of Likes:
        %strong= u["user"]["likes"].to_s.html_safe
      %div.each-body
        Following:
        %strong= u["user"]["following"].to_s.html_safe





%div.col-xs-12.col-sm-5.border-all-posts
  %h3 Recent Tumblr Blog Posts
  - @blogs.each do |blog|
    %div.each-post
      %div.each-body
        - if blog.player
          %h3 Multimedia
          -if blog.player.last["embed_code"]
            = blog.player.last["embed_code"].to_s.html_safe
          -else
            = blog.player.to_s.html_safe
      %div.each-body
        = blog.title.to_s.html_safe

      %div.each-body
        = blog.body.to_s.html_safe

      %div
        - if blog.images
          - blog.images.each do |image|
            = image_tag(image["original_size"]["url"], class: "img img-responsive")

      %div.each-caption
        = blog.caption.to_s.html_safe
      %div.each-answer
        = blog.answer.to_s.html_safe

      %a{href: "http://www.tumblr.com/reblog/#{blog.post_id}/#{blog.reblog_key}", target: "_blank", title:"Reblog on Tumblr", style:"display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://assets.tumblr.com/images/iframe_reblog_alpha.png?4') top left no-repeat transparent;"} Reblog on Tumblr

      %script src="http://platform.tumblr.com/v1/share.js"


