.container-fluid

  %div.col-xs-6
    - @blogs.each do |blog|
      %div.each-post.shadow

        -if blog.type =="audio" || blog.type == "video"
          %div.each-body
            - if blog.player
              -if blog.player.last["embed_code"]
                = blog.player.last["embed_code"].to_s.html_safe
              -else
                = blog.player.to_s.html_safe
          %div.each-caption
            = blog.caption.to_s.html_safe

        - if blog.type == "link"
          %div.each-title
            = link_to "#{blog.title.to_s.html_safe}", "#{blog.url.to_s.html_safe}", target: "_blank"
          %div.each-body
            = blog.description.to_s.html_safe

        - if blog.type == "text"
          %div.each-title
            = blog.title.to_s.html_safe
          %div.each-body
            = blog.body.to_s.html_safe

        - if blog.type == "quote"
          %div.each.body
            = blog.text.to_s.html_safe
            = blog.source.to_s.html_safe

        - if blog.type == "photo"
          %div.each-body
            - if blog.images
              - blog.images.each do |image|
                = image_tag(image["original_size"]["url"], class: "img img-responsive image-frame image-style")
          %div.each-caption
            = blog.caption.to_s.html_safe

        -if blog.type == "answer"
          %div.each-body
            - if blog.question
              %div= blog.question.to_s.html_safe
              %div.asked-by
                Asked by
                = blog.asking_name.to_s.html_safe
              %div.each-body
                = blog.answer.to_s.html_safe

        - if blog.tags != []
          %hr.ruler-color.shadow
          %div.each-body
            - blog.tags.each do |t|
              %span #
              = t
        %div
          %div
            - if blog.source_title
              =link_to ("via #{blog.source_title}"), blog.source_url
            - elsif
              =link_to ("via #{blog.post_author}"), "http://#{blog.post_author}.tumblr.com", target: "_blank"
          %div
            %a{href: "http://www.tumblr.com/reblog/#{blog.post_id}/#{blog.reblog_key}", class: "reblog-button", target: "_blank", title:"Reblog on Tumblr"} Reblog on Tumblr

            %script src="http://platform.tumblr.com/v1/share.js"


