%div.col-xs-3
  = image_tag("tumblr.png", class: "img img-responsive t-logo")
  = image_tag("houseofsound_header.png", class: "img img-responsive t-logo")

%div.col-xs-6
  - @blogs.each do |blog|
    %div.each-post.shadow
      %div.each-body
        - if blog.player
          -if blog.player.last["embed_code"]
            = blog.player.last["embed_code"].to_s.html_safe
          -else
            = blog.player.to_s.html_safe

      %div.each-title
        %a{href: "#{blog.url.to_s.html_safe}", target: "_blank"}
          = blog.title.to_s.html_safe
      %div.each-body
        = blog.description.to_s.html_safe
      %div.each-body
        = blog.body.to_s.html_safe

      %div.each-title
        - if blog.images
          - blog.images.each do |image|
            = image_tag(image["original_size"]["url"], class: "img img-responsive image-frame")

      %div.each-caption
        = blog.caption.to_s.html_safe
      %div.each-body
        - if blog.question
          %div= blog.question.to_s.html_safe
          %div.asked-by
            Asked by
            = blog.asking_name.to_s.html_safe
          %div.each-body
            = blog.answer.to_s.html_safe

      - if blog.tags != []
        %hr.ruler-color.shadow
        %div.each-body
          - blog.tags.each do |t|
            %span #
            = t

      - if blog.source_title
        %div
          =link_to ("via #{blog.source_title}"), blog.source_url

      %a{href: "http://www.tumblr.com/reblog/#{blog.post_id}/#{blog.reblog_key}", class: "reblog-button", target: "_blank", title:"Reblog on Tumblr"} Reblog on Tumblr

      %script src="http://platform.tumblr.com/v1/share.js"
%div.col-xs-3

